<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.services.LoginServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/PlayShogiWebsite/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.services.UserServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/PlayShogiWebsite/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>positionSharing</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.services.PositionSharingServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>positionSharing</servlet-name>
        <url-pattern>/PlayShogiWebsite/positionSharing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>problems</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.services.ProblemsServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>problems</servlet-name>
        <url-pattern>/PlayShogiWebsite/problems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>kifus</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.services.KifuServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>kifus</servlet-name>
        <url-pattern>/PlayShogiWebsite/kifus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>computer</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.services.ComputerServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>computer</servlet-name>
        <url-pattern>/PlayShogiWebsite/computer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadKifu</servlet-name>
        <servlet-class>com.playshogi.website.gwt.server.servlets.KifuUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadKifu</servlet-name>
        <url-pattern>/PlayShogiWebsite/uploadKifu</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>ShogiBoard.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType application/javascript</param-name>
            <param-value>access plus 1 minutes</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/PlayShogiWebsite/PlayShogiWebsite.nocache.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
</web-app>
