.gwt-piece-selected {
	background: rgba(255, 0, 0, 0.5);
}

.gwt-piece-unselected {
	
}

.gwt-square-selected {
	background: rgba(255, 0, 0, 0.3);
}

.gwt-square-unselected {
	
}

.contentButtons {
	background-color: #d7dde8;
	border-bottom: 1px solid #c3c3c3;
	padding: 0px 10px;
}

.contentButton {
	margin-right: 20px;
	color: #888888;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	line-height: 20pt;
	vertical-align: middle;
	float: left
}

.contentButton:hover {
	color: #4B4A4A;
	text-decoration: underline;
}

.contentButtonSource {
	margin-right: 4px;
}

.contentList {
	font-size: 8pt;
	color: #4B4A4A;
	direction: ltr;
}